* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: gray;
}

.logo {
    width: 80px;
    margin: 10px;
    border: 3px solid white;
    padding: 10px;
    border-radius: 30px;
}
h1 {
    font-weight: bold;
    font-size: 35px;
    color: white;
}

.score-board {
    margin: 10px auto;
    border: 3px solid;
    border-radius: 5px;
    text-align: center;
    font-size: 40px;
    padding: 15px 20px;
    width: 200px;
    position: relative;
}
.round {
    font-weight: bold;
    font-size: 30px;
}
.player {
    background: black;
    color: white;
    font-size: 25px;
    padding: 5px 14px;
    border-radius: 10px;
}
#user {
    position: absolute;
    top: 22px;
    left: -40px;
}
#computer {
    position: absolute;
    top: 22px;
    right: -40px;
}

.result {
    font-size: 30px;
}
.result p{
    text-align: center;
    font-weight: bold;
    margin-top: 25px;
}

.moves img {
    width: 100px;
}

.moves {
    text-align: center;
    margin-right: 20px;
    margin-top: 25px;
    
}
.move {
    display: inline-block;
    margin: 0 10px;
    border-radius: 50%;
    transition: all 0.4s ease;
}

.move:hover {
    cursor: pointer;
    background: gray;
}
#instruction{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin: 10px;
}
