* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: gray;
}

.logo {
    width: 80px;
    margin: 10px;
    border: 3px solid white;
    padding: 10px;
    border-radius: 30px;
}
h1 {
    font-weight: bold;
    font-size: 35px;
    color: white;
}
h3 {
    text-align: center;
    border: 3px solid black;
    margin: auto;
    width: 15%;
    height: 30px;
    margin-top: 15px;
    background: gray;
    border-radius: 5px;
    color: white;
    padding: 0 5px;
}

.score-board {
    margin: 10px auto;
    border: 3px solid;
    border-radius: 5px;
    text-align: center;
    font-size: 40px;
    padding: 15px 20px;
    width: 200px;
    position: relative;
    margin-top: 0;
}
.round {
    font-weight: bold;
    font-size: 30px;
    border: 2px solid black;
    color: white;
    background: gray;
    border-radius: 5px;
    box-shadow: 0 0 15px rgb(139, 114, 65);
}
.player {
    background: gray;
    color: white;
    font-size: 20px;
    padding: 3px 10px;
    border-radius: 10px;
    border: 3px solid black;
}
#user {
    position: absolute;
    top: 22px;
    left: -40px;
}
#computer {
    position: absolute;
    top: 22px;
    right: -45px;
}

.result {
    font-size: 30px;
}
.result p{
    text-align: center;
    font-weight: bold;
    margin-top: 25px;
}

.moves img {
    width: 100px;
}

.moves {
    text-align: center;
    margin-right: 20px;
    margin-top: 25px;
    
}
.move {
    display: inline-block;
    margin: 0 10px;
    border-radius: 20px;
    transition: all 0.4s ease;
    padding: 5px;
}

.move:hover {
    cursor: pointer;
    background: gray;
}
#instruction{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin: 10px;
}

figcaption {
    font-weight: bold;
    text-align: center;
}

.greenGlow {
    border: 3px solid rgb(68, 230, 68);
    box-shadow: 0 0 10px greenyellow;
}

.redGlow {
    border: 3px solid red;
    box-shadow: 0 0 10px rgb(226, 59, 101);
}

.yellowGlow {
    border: 3px solid rgb(255, 252, 97);
    box-shadow: 0 0 10px rgba(255, 241, 47, 0.726);
}